{{!-- Jumbotron Fluid --}}
<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">Your Favorite Articles</h1>
        <p class="lead">View your favorite articles and make/edit notes</p>
    </div>
</div>

{{!-- Main Body  --}}
<div class="container-fluid main-cont">

    {{!-- Articles/Notes Section --}}
    <div class="row article-row">
        <div class="col-md articles articleContainer">
            {{#each article}}
            <div class="card fav-card" data-_id="{{ this._id }}" data-fav="{{ this.favorite }}">
                <img class="card-img-top" src="{{ this.image }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ this.title }}</h5>
                    <p class="card-text">{{ this.publication }}</p>
                    <button href="{{ this.link }}" class="btn btn-sm btn-outline-secondary">Read on RT</button>
                    <button data-title="{{ this.title }}" class="btn btn-sm btn-outline-secondary addNoteBtn">Add a
                        Note</button>
                    <button href="#" class="btn btn-sm btn-outline-secondary favBtn">
                        <span data-_id={{this._id}} class="heartIcon heart-{{ this.favorite }}">
                            <i class="fas fa-heart"></i>
                        </span>
                    </button>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-4 note-section" id="viewNotes">
            <div class="row note-row" id="view-note-row">
                <div id="note-col" class="col-9">
                    {{!-- <h2 id="note-heading"></h2> --}}
                    <h5>Title</h5>
                    <p>Body Body Body Body</p>
                </div>
            </div>
        </div>
        <div class="col-4 note-section" id="addNotes">
            <div class="row note-row" id="add-note-row">
                <div id="note-col" class="col-9">
                    <h2 id="note-heading"></h2>
                    <form action="submit">
                        <div class="form-group">
                            <label id="labelTitle" for="note-text-area"></label>
                            <textarea class="form-control" id="note-text-area" rows="5"></textarea>
                        </div>
                        <button id="submitNoteBtn" class="btn btn-outline-secondary">Submit</button>
                        <button class="btn btn-outline-secondary viewNotesBtn">View Notes</button>
                        <button id="doneAddNotes" class="btn btn-outline-secondary">Done</button>
                    </form>
                    <p class="dbMessage"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript" src="/assets/js/favorite.js"></script>